

.counter {
  width: 350px;
  font-family: Helvetica neue, arial, sans-serif;
}

.counter__table {
  display: flex;
  border-bottom: 5px solid #AAA;
  padding-bottom: 10px;
}

.counter__table__title {
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 20px;
}

.counter__table__cell {
  width: 50%;
  font-size: 20px;
}

.counter__table__data__percentage {
  color: #333;
}

.counter__table__data__value {
  color: #AAA;
}

.right {
  text-align: right;

}
